<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Grand Slam Cricket Club</ion-title>
    <ion-buttons slot="end">
      <ion-button id="click-trigger">
        <ion-icon name="log-out-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-popover [isOpen]="isOpen" trigger="click-trigger" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding" (click)="logout()">Logout</ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" *ngIf="user_type=='admin'">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome Admin</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      {{current_date | date : "fullDate"}}
    <br/>
    Total Present: {{present_users}}
    <br/>
    Total Absent: {{absent_users}}
    </ion-card-content>
  </ion-card>
  <h3>Present Users</h3>
  <ion-list>
    <ion-item *ngFor="let attendance of currentDateAttendance">
      {{attendance.username}}
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>

      <ion-tab-bar slot="bottom">
        <ion-tab-button *ngFor="let tab of tab_data" (click)="tab_route(tab.route)">
          <ion-icon name="{{tab.icon}}" color="primary"></ion-icon>
          <ion-label>{{tab.text}}</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    
    </ion-tabs> 
  </ion-toolbar>
</ion-footer>


